In [1]:
import pandas as pd

In [2]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\dawoo\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dawoo\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dawoo\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dawoo\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dawoo\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dawoo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
growth=pd.Series([143,150,157,160],index=["2018","2019","2020","2021"])
print(growth)

growth["2018"]

2018    143
2019    150
2020    157
2021    160
dtype: int64

143

In [11]:
growth=pd.Series([143,150,157,160])
growth

0    143
1    150
2    157
3    160
dtype: int64

In [14]:
index = ["2018", "2019", "2020", "2021"]
Yeonghee = pd.Series([143, 150, 157, 160], index=index)
Cheolsu = pd.Series([165, 172, 175, 180], index=index)
growth = pd.DataFrame({
    "영희": Yeonghee,
    "철수": Cheolsu
})

growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [16]:
index = ["2018", "2019", "2020", "2021"]
data = {
    "영희": [143, 150, 157, 160],
    "철수": [165, 172, 175, 180]
}

growth = pd.DataFrame(data, columns=["영희", "철수"], index=index)

growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [19]:
print(growth.dtypes)
growth.astype("float")

영희    int64
철수    int64
dtype: object

         영희     철수
2018  143.0  165.0
2019  150.0  172.0
2020  157.0  175.0
2021  160.0  180.0

In [20]:
growth.astype({"영희":"float"})

         영희   철수
2018  143.0  165
2019  150.0  172
2020  157.0  175
2021  160.0  180

In [21]:
dict1 = {1: "a", 2: "b", 3: "c"}
print(dict1)

{1: 'a', 2: 'b', 3: 'c'}

In [2]:
name=pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})
for i in range(len(name["Bob"])):
  print(f"index {i} : {name["Bob"][i]}")

print(f"index 0 : {name["Bob"][0]}")
print(f"index 1 : {name["Bob"][1]}")

index 0 : I liked it.
index 1 : It was awful.
index 0 : I liked it.
index 1 : It was awful.